body {
    margin: none;
}

.header {
    display: flex;
    border: 5px solid black;
    width: 70%;
    margin: 10px auto;
}

.header div {
    border: 5px dotted red;
    margin-left: 20px;
}

.header-logo {
    margin-left: 2001px;
    margin-right: auto;
}

.hero {
    margin: 10px auto;
    width: 70%;
    border: 5px dotted blue;
    display: flex;
    min-width: 0px;
}

.desc {
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}