@font-face {
    font-family: quote-font;
    src: url("./fonts/quotefont.ttf");
}

@font-face {
    font-family: lemon-milk-b;
    src: url("./fonts/lemon-milk-bold.otf");
}

a {
    color: #f9faf8;
    text-decoration: none;
}

p {
    word-break: break-word;
    white-space: normal;
    font-size: 18px;
}

body {
    text-align: center;
    margin: 0;
}

.black-background {
    background-color: #1f2937;
}

.header {
    display: flex;
    /* border: 5px solid black; */
    width: 70%;
    margin: auto;
}

.header div {
    /* border: 5px dotted red; */
    margin-left: 20px;
    color: #f9faf8;
    font-size: 24px;
}

.header-logo {
    margin-left: 2001px;
    margin-right: auto;
}

.hero {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 100%;
    height: 450px;
    /* border: 5px dotted blue; */
    display: flex;
    justify-content: center;
    min-width: 0px;
}

.hero > div > h1 {
    font-family: lemon-milk-b;
    font-size: 40px;
    font-weight: 800;
    color: #f9faf8;
}

.desc {
    text-align: center;
    width: 35%;
    height: 70%;
    align-self: center;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    align-self: center;
    width: 35%;
    height: 70%;
}

.fakta-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    /* border: 5px dotted green; */
    margin: auto;
}

.fakta-container > div {
    min-width: 0px;
    min-height: 0px;
    width: 20%;
    height: auto;
    /* border: 5px dotted yellow; */
}

#section-1 {
    margin-bottom: 50px;
}

.fakta-container > div > img {
    border: 4px solid blue;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.quotes-bali {
    background-color: #e5e7eb;
    display: flex;
    min-width: 0px;
    align-items: center;
    justify-content: center;
    /* border: 5px dotted black; */
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    height: 400px;
}

.quotes-bali > div {
    width: 30%;
    /* border: 5px dotted orange; */
}

.quotes-bali > div h1 {
    font-family: quote-font;
    font-size: 36px;
}

.quotes-bali > div > h3 {
    text-align: end;
}

.pesan-tiket {
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    /* border: 5px solid blue; */
}

.pesan-tiket > div {
    width: 50%;
    /* border: 5px dotted red; */
}

#btn-clickme {
    background-color: #3882f6;
    border-radius: 4px;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 50px;
    align-self: center;
    border: 4px solid #f9faf8;
    cursor: pointer;
}

#btn-clickme:hover {
    background-color: lightblue;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
    flex-direction: column;
}

footer {
    font-size: 20px;
}